Repository pnp/sp-dev-fx-webparts, pull requests merged in 2022-03, with the labels that each got.

#2365 added new sample to show how to manage data onedrive applications folder
  samples/react-save-to-onedrive-app-personal-folder/.devcontainer/devcontainer.json
  samples/react-save-to-onedrive-app-personal-folder/.devcontainer/spfx-startup.sh
  samples/react-save-to-onedrive-app-personal-folder/.gitignore
  samples/react-save-to-onedrive-app-personal-folder/README.md
  samples/react-save-to-onedrive-app-personal-folder/assets/data-saved-on-onedrive.png
  samples/react-save-to-onedrive-app-personal-folder/assets/data.png
  samples/react-save-to-onedrive-app-personal-folder/assets/in-sharepoint.png
  samples/react-save-to-onedrive-app-personal-folder/assets/in-teams.png
  samples/react-save-to-onedrive-app-personal-folder/assets/sample.json
  samples/react-save-to-onedrive-app-personal-folder/assets/to-all-sites.png
  samples/react-save-to-onedrive-app-personal-folder/library/.gitignore
  samples/react-save-to-onedrive-app-personal-folder/library/.npmignore
  samples/react-save-to-onedrive-app-personal-folder/library/.yo-rc.json
  samples/react-save-to-onedrive-app-personal-folder/library/README.md
  samples/react-save-to-onedrive-app-personal-folder/library/config/config.json
  samples/react-save-to-onedrive-app-personal-folder/library/config/deploy-azure-storage.json
  samples/react-save-to-onedrive-app-personal-folder/library/config/package-solution.json
  samples/react-save-to-onedrive-app-personal-folder/library/config/serve.json
  samples/react-save-to-onedrive-app-personal-folder/library/config/write-manifests.json
  samples/react-save-to-onedrive-app-personal-folder/library/gulpfile.js
  samples/react-save-to-onedrive-app-personal-folder/library/package-lock.json
  samples/react-save-to-onedrive-app-personal-folder/library/package.json
  samples/react-save-to-onedrive-app-personal-folder/library/src/index.ts
  samples/react-save-to-onedrive-app-personal-folder/library/src/libraries/manageData/ManageDataLibrary.manifest.json
  samples/react-save-to-onedrive-app-personal-folder/library/src/libraries/manageData/ManageDataLibrary.ts
  samples/react-save-to-onedrive-app-personal-folder/library/src/libraries/manageData/loc/en-us.js
  samples/react-save-to-onedrive-app-personal-folder/library/src/libraries/manageData/loc/mystrings.d.ts
  samples/react-save-to-onedrive-app-personal-folder/library/src/libraries/manageData/model/IAppData.ts
  samples/react-save-to-onedrive-app-personal-folder/library/tsconfig.json
  samples/react-save-to-onedrive-app-personal-folder/library/tslint.json
  samples/react-save-to-onedrive-app-personal-folder/webpart/.gitignore
  samples/react-save-to-onedrive-app-personal-folder/webpart/.npmignore
  samples/react-save-to-onedrive-app-personal-folder/webpart/.yo-rc.json
  samples/react-save-to-onedrive-app-personal-folder/webpart/README.md
  samples/react-save-to-onedrive-app-personal-folder/webpart/config/config.json
  samples/react-save-to-onedrive-app-personal-folder/webpart/config/deploy-azure-storage.json
  samples/react-save-to-onedrive-app-personal-folder/webpart/config/package-solution.json
  samples/react-save-to-onedrive-app-personal-folder/webpart/config/serve.json
  samples/react-save-to-onedrive-app-personal-folder/webpart/config/write-manifests.json
  samples/react-save-to-onedrive-app-personal-folder/webpart/gulpfile.js
  samples/react-save-to-onedrive-app-personal-folder/webpart/package-lock.json
  samples/react-save-to-onedrive-app-personal-folder/webpart/package.json
  samples/react-save-to-onedrive-app-personal-folder/webpart/src/index.ts
  samples/react-save-to-onedrive-app-personal-folder/webpart/src/webparts/client/ClientWebPart.manifest.json
  samples/react-save-to-onedrive-app-personal-folder/webpart/src/webparts/client/ClientWebPart.ts
  samples/react-save-to-onedrive-app-personal-folder/webpart/src/webparts/client/assets/welcome-dark.png
  samples/react-save-to-onedrive-app-personal-folder/webpart/src/webparts/client/assets/welcome-light.png
  samples/react-save-to-onedrive-app-personal-folder/webpart/src/webparts/client/components/Client.module.scss
  samples/react-save-to-onedrive-app-personal-folder/webpart/src/webparts/client/components/Client.tsx
  samples/react-save-to-onedrive-app-personal-folder/webpart/src/webparts/client/components/IClientProps.ts
  samples/react-save-to-onedrive-app-personal-folder/webpart/src/webparts/client/components/IClientState.ts
  samples/react-save-to-onedrive-app-personal-folder/webpart/src/webparts/client/loc/en-us.js
  samples/react-save-to-onedrive-app-personal-folder/webpart/src/webparts/client/loc/mystrings.d.ts
  samples/react-save-to-onedrive-app-personal-folder/webpart/teams/a6603137-966f-40c1-9897-4d2bb2250128_color.png
  samples/react-save-to-onedrive-app-personal-folder/webpart/teams/a6603137-966f-40c1-9897-4d2bb2250128_outline.png
  samples/react-save-to-onedrive-app-personal-folder/webpart/tsconfig.json
  samples/react-save-to-onedrive-app-personal-folder/webpart/tslint.json
Labels: prtype:new, sample:react-save-to-onedrive-app-personal-folder

#2373 New Sample - Hide Lists SPFx WebPart
  samples/react-lists-hide/.devcontainer/devcontainer.json
  samples/react-lists-hide/.devcontainer/spfx-startup.sh
  samples/react-lists-hide/.gitattributes
  samples/react-lists-hide/.gitignore
  samples/react-lists-hide/.npmignore
  samples/react-lists-hide/.yo-rc.json
  samples/react-lists-hide/README.md
  samples/react-lists-hide/assets/ListHideWebPart.jpg
  samples/react-lists-hide/assets/listHidewp.gif
  samples/react-lists-hide/assets/sample.json
  samples/react-lists-hide/config/config.json
  samples/react-lists-hide/config/deploy-azure-storage.json
  samples/react-lists-hide/config/package-solution.json
  samples/react-lists-hide/config/serve.json
  samples/react-lists-hide/config/write-manifests.json
  samples/react-lists-hide/gulpfile.js
  samples/react-lists-hide/package-lock.json
  samples/react-lists-hide/package.json
  samples/react-lists-hide/src/Helper/Constant.ts
  samples/react-lists-hide/src/index.ts
  samples/react-lists-hide/src/webparts/hideLists/HideListsWebPart.manifest.json
  samples/react-lists-hide/src/webparts/hideLists/HideListsWebPart.ts
  samples/react-lists-hide/src/webparts/hideLists/components/HideLists.module.scss
  samples/react-lists-hide/src/webparts/hideLists/components/HideLists.tsx
  samples/react-lists-hide/src/webparts/hideLists/components/IHideListsProps.ts
  samples/react-lists-hide/src/webparts/hideLists/components/IHideListsState.ts
  samples/react-lists-hide/src/webparts/hideLists/loc/en-us.js
  samples/react-lists-hide/src/webparts/hideLists/loc/mystrings.d.ts
  samples/react-lists-hide/teams/1b1dc257-2f1f-4255-a742-148a73e7be99_color.png
  samples/react-lists-hide/teams/1b1dc257-2f1f-4255-a742-148a73e7be99_outline.png
  samples/react-lists-hide/tsconfig.json
  samples/react-lists-hide/tslint.json
  templates/README-template.md
  templates/sample-template.json
Labels: prtype:new, sample:react-lists-hide

#2406 Updated react-graph-cascading-managed-metadata to SPFx v1.14
  samples/react-graph-cascading-managed-metadata/.devcontainer/devcontainer.json
  samples/react-graph-cascading-managed-metadata/.devcontainer/spfx-startup.sh
  samples/react-graph-cascading-managed-metadata/.editorconfig
  samples/react-graph-cascading-managed-metadata/.gitignore
  samples/react-graph-cascading-managed-metadata/.npmignore
  samples/react-graph-cascading-managed-metadata/.yo-rc.json
  samples/react-graph-cascading-managed-metadata/README.md
  samples/react-graph-cascading-managed-metadata/assets/sample.json
  samples/react-graph-cascading-managed-metadata/assets/termsetproperties.png
  samples/react-graph-cascading-managed-metadata/assets/termstore.png
  samples/react-graph-cascading-managed-metadata/config/config.json
  samples/react-graph-cascading-managed-metadata/config/copy-assets.json
  samples/react-graph-cascading-managed-metadata/config/deploy-azure-storage.json
  samples/react-graph-cascading-managed-metadata/config/package-solution.json
  samples/react-graph-cascading-managed-metadata/config/serve.json
  samples/react-graph-cascading-managed-metadata/fast-serve/config.json
  samples/react-graph-cascading-managed-metadata/fast-serve/webpack.extend.js
  samples/react-graph-cascading-managed-metadata/gulpfile.js
  samples/react-graph-cascading-managed-metadata/package-lock.json
  samples/react-graph-cascading-managed-metadata/package.json
  samples/react-graph-cascading-managed-metadata/src/webparts/cascadingManagedMetadata/CascadingManagedMetadataWebPart.ts
  samples/react-graph-cascading-managed-metadata/src/webparts/cascadingManagedMetadata/components/CascadingManagedMetadata.tsx
  samples/react-graph-cascading-managed-metadata/src/webparts/cascadingManagedMetadata/services/MMDService.ts
  samples/react-graph-cascading-managed-metadata/src/webparts/cascadingManagedMetadata/services/MSGraph.ts
  samples/react-graph-cascading-managed-metadata/src/webparts/interfaces/ICMMDDropdownOption.ts
  samples/react-graph-cascading-managed-metadata/src/webparts/interfaces/IOption.ts
  samples/react-graph-cascading-managed-metadata/src/webparts/interfaces/IProperty.ts
  samples/react-graph-cascading-managed-metadata/src/webparts/interfaces/ITerm.ts
  samples/react-graph-cascading-managed-metadata/src/webparts/interfaces/index.ts
  samples/react-graph-cascading-managed-metadata/tsconfig.json
  samples/react-graph-cascading-managed-metadata/tslint.json
Labels: sample: react-graph-cascading-managed-metadata, prtype:update

#2407 React faqs
  samples/react-faqs/.devcontainer/devcontainer.json
  samples/react-faqs/.devcontainer/spfx-startup.sh
  samples/react-faqs/.gitignore
  samples/react-faqs/.npmignore
  samples/react-faqs/.yo-rc.json
  samples/react-faqs/README.md
  samples/react-faqs/assets/FAQWebpart.png
  samples/react-faqs/assets/sample.json
  samples/react-faqs/config/config.json
  samples/react-faqs/config/deploy-azure-storage.json
  samples/react-faqs/config/package-solution.json
  samples/react-faqs/config/serve.json
  samples/react-faqs/config/write-manifests.json
  samples/react-faqs/gulpfile.js
  samples/react-faqs/package-lock.json
  samples/react-faqs/package.json
  samples/react-faqs/src/index.ts
  samples/react-faqs/src/webparts/faQs/FaQsWebPart.manifest.json
  samples/react-faqs/src/webparts/faQs/FaQsWebPart.ts
  samples/react-faqs/src/webparts/faQs/components/Accordions.module.scss
  samples/react-faqs/src/webparts/faQs/components/Accordions.tsx
  samples/react-faqs/src/webparts/faQs/components/Faqs.module.scss
  samples/react-faqs/src/webparts/faQs/components/Faqs.tsx
  samples/react-faqs/src/webparts/faQs/components/IAccordionsProps.ts
  samples/react-faqs/src/webparts/faQs/components/IAccordionsState.ts
  samples/react-faqs/src/webparts/faQs/components/IFaq.ts
  samples/react-faqs/src/webparts/faQs/components/IFaqsProps.ts
  samples/react-faqs/src/webparts/faQs/components/IFaqsState.ts
  samples/react-faqs/src/webparts/faQs/components/utilities/Accordion/Accordion.tsx
  samples/react-faqs/src/webparts/faQs/components/utilities/Accordion/AccordionItem.tsx
  samples/react-faqs/src/webparts/faQs/components/utilities/Accordion/AccordionItemBody.tsx
  samples/react-faqs/src/webparts/faQs/components/utilities/Accordion/AccordionItemTitle.tsx
  samples/react-faqs/src/webparts/faQs/components/utilities/Accordion/index.tsx
  samples/react-faqs/src/webparts/faQs/loc/en-us.js
  samples/react-faqs/src/webparts/faQs/loc/mystrings.d.ts
  samples/react-faqs/teams/ec1e51c0-7b02-4e3c-a68c-5421668e629b_color.png
  samples/react-faqs/teams/ec1e51c0-7b02-4e3c-a68c-5421668e629b_outline.png
  samples/react-faqs/tsconfig.json
  samples/react-faqs/tslint.json
  templates/sample-template.json
Labels: prtype:new, sample:react-faqs

#2416 Hero Webpart Collage feature
  samples/react-hero-webpart/.gitignore
  samples/react-hero-webpart/README.md
  samples/react-hero-webpart/assets/collage-hero-webpart.PNG
  samples/react-hero-webpart/assets/sample.json
  samples/react-hero-webpart/config/package-solution.json
  samples/react-hero-webpart/package-lock.json
  samples/react-hero-webpart/package.json
  samples/react-hero-webpart/release/manifests/71d58a4f-1896-46aa-94a5-dbef33d14166.manifest.json
  samples/react-hero-webpart/src/webparts/heroWebpart/HeroWebpartWebPart.ts
  samples/react-hero-webpart/src/webparts/heroWebpart/components/HeroLayout.tsx
  samples/react-hero-webpart/src/webparts/heroWebpart/components/HeroWebpart.module.scss
  samples/react-hero-webpart/src/webparts/heroWebpart/components/HeroWebpart.tsx
  samples/react-hero-webpart/src/webparts/heroWebpart/components/IHeroLayoutProps.ts
  samples/react-hero-webpart/src/webparts/heroWebpart/components/IHeroWebpartProps.ts
Labels: sample: react-hero-webpart, prtype:update

#2436 React graph app secret expiration upgrade to sp fx 1.14.0
  samples/react-graph-app-secret-expiration/.devcontainer/devcontainer.json
  samples/react-graph-app-secret-expiration/.gitignore
  samples/react-graph-app-secret-expiration/.npmignore
  samples/react-graph-app-secret-expiration/.yo-rc.json
  samples/react-graph-app-secret-expiration/README.md
  samples/react-graph-app-secret-expiration/assets/sample.json
  samples/react-graph-app-secret-expiration/config/copy-assets.json
  samples/react-graph-app-secret-expiration/config/package-solution.json
  samples/react-graph-app-secret-expiration/config/serve.json
  samples/react-graph-app-secret-expiration/package-lock.json
  samples/react-graph-app-secret-expiration/package.json
  samples/react-graph-app-secret-expiration/tsconfig.json
Labels: sample: react-graph-app-secret-expiration, prtype:update

#2443 Updated react-quickpoll to spfx 1.13.1
  samples/react-quick-poll/.devcontainer/devcontainer.json
  samples/react-quick-poll/.devcontainer/spfx-startup.sh
  samples/react-quick-poll/.gitignore
  samples/react-quick-poll/.yo-rc.json
  samples/react-quick-poll/README.md
  samples/react-quick-poll/assets/sample.json
  samples/react-quick-poll/config/config.json
  samples/react-quick-poll/config/serve.json
  samples/react-quick-poll/gulpfile.js
  samples/react-quick-poll/package-lock.json
  samples/react-quick-poll/package.json
  samples/react-quick-poll/tsconfig.json
  samples/react-quick-poll/tslint.json
Labels: sample: react-quick-poll, prtype:update

#2444 Upgraded to SPFx v1.14. Issue 2442 fixed (using latest mgt version)
  samples/react-company-stories/.devcontainer/devcontainer.json
  samples/react-company-stories/.devcontainer/spfx-startup.sh
  samples/react-company-stories/.yo-rc.json
  samples/react-company-stories/MyNotes.md
  samples/react-company-stories/README.md
  samples/react-company-stories/assets/sample.json
  samples/react-company-stories/gulpfile.js
  samples/react-company-stories/package-lock.json
  samples/react-company-stories/package.json
  samples/react-company-stories/src/webparts/sharePointStories/SharePointStoriesWebPart.ts
  samples/react-company-stories/src/webparts/sharePointStories/components/SharePointStories.tsx
  samples/react-company-stories/tsconfig.json
  samples/react-company-stories/tslint.json
Labels: sample: react-company-stories, prtype:update
