Repository pnp/sp-dev-fx-webparts, pull requests merged in 2024-10, with the labels that each got.

#5283 react-organization-chart Upgrade to 1.20
  samples/react-organization-chart/.devcontainer/devcontainer.json
  samples/react-organization-chart/.eslintrc.js
  samples/react-organization-chart/.nvmrc
  samples/react-organization-chart/.yo-rc.json
  samples/react-organization-chart/README.md
  samples/react-organization-chart/assets/sample.json
  samples/react-organization-chart/config/copy-assets.json
  samples/react-organization-chart/config/deploy-azure-storage.json
  samples/react-organization-chart/config/package-solution.json
  samples/react-organization-chart/config/serve.json
  samples/react-organization-chart/package-lock.json
  samples/react-organization-chart/package.json
  samples/react-organization-chart/src/common/Utils.ts
  samples/react-organization-chart/src/components/OrgChart/OrgChart.module.scss
  samples/react-organization-chart/src/components/OrgChart/OrgChart.tsx
  samples/react-organization-chart/src/components/Placeholder/PlaceholderComponent.styles.ts
  samples/react-organization-chart/src/components/Placeholder/PlaceholderComponent.tsx
  samples/react-organization-chart/src/components/Placeholder/ThemeUtility.ts
  samples/react-organization-chart/teams/0338da15-07f9-4a53-b267-d790fb495cca_color.png
  samples/react-organization-chart/teams/0338da15-07f9-4a53-b267-d790fb495cca_outline.png
  samples/react-organization-chart/tsconfig.json
Labels: sample: react-organization-chart, prtype:update

#5284 Upgrade react-directory to SPFx 1.20.0
  samples/react-directory/.devcontainer/devcontainer.json
  samples/react-directory/.devcontainer/spfx-startup.sh
  samples/react-directory/.nvmrc
  samples/react-directory/.yo-rc.json
  samples/react-directory/README.md
  samples/react-directory/assets/sample.json
  samples/react-directory/config/package-solution.json
  samples/react-directory/package-lock.json
  samples/react-directory/package.json
Labels: sample: react-directory, prtype:update

#5288 Spfx upgrade/react-tree-orgchartUpgrade to 1.20
  samples/react-tree-orgchart/.devcontainer/devcontainer.json
  samples/react-tree-orgchart/.devcontainer/spfx-startup.sh
  samples/react-tree-orgchart/.eslintrc.js
  samples/react-tree-orgchart/.npmignore
  samples/react-tree-orgchart/.nvmrc
  samples/react-tree-orgchart/README.md
  samples/react-tree-orgchart/assets/Screenshot1.png
  samples/react-tree-orgchart/assets/Screenshot2.png
  samples/react-tree-orgchart/assets/Screenshot3.png
  samples/react-tree-orgchart/assets/react-tree-orgchart-2.gif
  samples/react-tree-orgchart/assets/react-tree-orgchart.gif
  samples/react-tree-orgchart/assets/sample.json
  samples/react-tree-orgchart/config/copy-assets.json
  samples/react-tree-orgchart/config/deploy-azure-storage.json
  samples/react-tree-orgchart/config/package-solution.json
  samples/react-tree-orgchart/config/sass.json
  samples/react-tree-orgchart/config/serve.json
  samples/react-tree-orgchart/gulpfile.js
  samples/react-tree-orgchart/package-lock.json
  samples/react-tree-orgchart/package.json
  samples/react-tree-orgchart/src/services/GraphService.ts
  samples/react-tree-orgchart/src/services/SPServices.ts
  samples/react-tree-orgchart/src/webparts/treeOrgChart/TreeOrgChartWebPart.ts
  samples/react-tree-orgchart/src/webparts/treeOrgChart/components/ITreeData.ts
  samples/react-tree-orgchart/src/webparts/treeOrgChart/components/ITreeOrgChartState.ts
  samples/react-tree-orgchart/src/webparts/treeOrgChart/components/Tree/Tree.tsx
  samples/react-tree-orgchart/src/webparts/treeOrgChart/components/Tree/TreeNode.module.scss
  samples/react-tree-orgchart/src/webparts/treeOrgChart/components/Tree/TreeNode.tsx
  samples/react-tree-orgchart/src/webparts/treeOrgChart/components/TreeOrgChart.module.scss
  samples/react-tree-orgchart/src/webparts/treeOrgChart/components/TreeOrgChart.tsx
  samples/react-tree-orgchart/src/webparts/treeOrgChart/components/pnpjsConfig.ts
  samples/react-tree-orgchart/tsconfig.json
  samples/react-tree-orgchart/tslint.json
Labels: sample: react-tree-orgchart, prtype:update
